body {
  background-color: #37384e;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #37384e;
}

/* LAYOUT STYLING*/

.container {
  border-radius: 2rem;
  width: 80rem;
  height: 55rem;
  background-color: #f5f5f5;
  display: flex;
}

.subscribe {
  display: flex;
  flex-direction: column;
}

.left-column {
  padding: 0rem 5rem;
  padding-bottom: 5rem;
  flex: 1; /* Take up as much space as possible within the container */
  display: flex; /* Use flexbox to center the content */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
}

.right-column {
  border: 2px solid black;
  padding: 2rem 5rem;
  flex: 1; /* Take up as much space as possible within the container */
}
.left-column .information,
.left-column .subscribe {
  width: 100%;
}

/* FONT SIZE STYLING */

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.15em;
  display: flex; /* Add flex display to the paragraphs */
  align-items: center; /* Center the content vertically */
}

#sub-heading {
  margin-bottom: 2.3rem;
}

.icon-success {
  width: 25px; /* Adjust the width as needed */
  height: 25px; /* Adjust the height as needed */
  padding-right: 1rem;
}

label {
  margin-top: 1.2rem;
  padding: 0.8rem 0;
  font-weight: bold;
}

input {
  border-radius: 0.6rem;
  height: 3.4rem;
  font-size: large;
  padding: 0 1.8rem;
  margin-bottom: 1.7rem;
}

button {
  height: 4rem;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border-radius: 0.6rem;
  background-color: #37384e;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack columns vertically */
    width: 100%; /* Take up full width in mobile view */
    height: 100vh; /* Let the height adjust automatically based on content */
    border-radius: 0;
    margin: 0;
  }

  .right-column {
    order: -1;
    /* Move the right column above the left column in mobile view */
  }
}
